In [2]:
print('Hey')

Hey

In [3]:
var = 'Hello World!'
print ("var      --> ", var)
print ("var[0]   --> ", var[0])
print ("var[1:5] --> ", var[1:5])
print ("var[:-5] --> ", var[:-5])

var      -->  Hello World!
var[0]   -->  H
var[1:5] -->  ello
var[:-5] -->  Hello W

In [4]:
var = 'Hey google whats up'
print(var.upper())
print(var.lower())
print(len(var))

HEY GOOGLE WHATS UP
hey google whats up
19

In [5]:
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

Enter your name: hi
Enter your age : 89
Enter the book price: 987

Your name is HI, age is 89 and book price is 987.000000

In [6]:
var =" Indian   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var strip --> ", var.strip())
print("Length of var after strip --> ", len(var.strip()))

String    -->   Indian   Army
Length    -->  18
var strip -->  Indian   Army
Length of var after strip -->  13

In [7]:
string = '  xoxo love xoxo   '

# Leading and trailing whitespaces are removed
print(string.strip())

# All <whitespace>,x,o,e characters in the left
# and right of string are removed
print(string.strip(' xoe'))

# Argument doesn't contain space
# No characters are removed.
print(string.strip('stx'))

string = 'android is awesome'
print(string.strip('an'))

#Hence for using the strip(), whatever argument that you use, that will be removed unlessit is a default removal of whitespace.

xoxo love xoxo
lov
  xoxo love xoxo
droid is awesome

In [8]:
# str.split(separator, maxsplit)

# The split() method takes a maximum of 2 parameters:

# separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at whitespaces.
# maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of splits.
text= 'Love thy neighbor'

# # splits at space
# print(text.split())

# grocery = 'Milk, Chicken, Bread'

# # splits at ','
# print(grocery.split(', '))

# # Splits at ':'
# print(grocery.split(':'))

var =" Indian,   Army    "

print("String    --> ", var)
print("Length    --> ", len(var)) #Finds the number of characters.
print("var split --> ", var.split()) #the split occurs such that all whitespaces are removes
print("var split --> ", var.split(' ')) #Split occurs such that all the whitespaces are also available.
print("var split --> ", var.split(',')) #Split occurs at the ,

# Strip + Split
print("var split --> ", var.strip().split(',')) #remove all thee whitespaces and then split

String    -->   Indian,   Army
Length    -->  19
var split -->  ['Indian,', 'Army']
var split -->  ['', 'Indian,', '', '', 'Army', '', '', '', '']
var split -->  [' Indian', '   Army    ']
var split -->  ['Indian', '   Army']

In [9]:
var=" Indian Army    "
print ("String       --> ", var)
print ("Count of ' ' --> ", var.count(' '))
print ("Count of 'a' --> ", var.count('a'))
print ("Count of 'n' --> ", var.count('an'))

String       -->   Indian Army
Count of ' ' -->  6
Count of 'a' -->  1
Count of 'n' -->  1

In [10]:
var="Indian Army"
print ("String    --> ", var)

String    -->  Indian Army

In [11]:
string = '   Snows fall and the white wings blow. The lone wolf dies but the pack survives             '
print(string)

print(string.count('a')) #counts the number of 'a's in the string variable

print(string.strip().split()) 
#The string is first stripped of all the beginning and leading whitespaces. 
#Then it is splitted such that all the whitespaces are removed and only the text is left in the form of a list

   Snows fall and the white wings blow. The lone wolf dies but the pack survives
3
['Snows', 'fall', 'and', 'the', 'white', 'wings', 'blow.', 'The', 'lone', 'wolf', 'dies', 'but', 'the', 'pack', 'survives']

In [12]:
"""The extended slicing notation string[start:stop:step]
uses three arguments start, stop, and step to carve out a subsequence.
It accesses every step-th element between indices start (included) and stop (excluded).
The double colon :: occurs if you drop the stop argument.
In this case, Python will use the default value and doesn’t assume an artificial stop."""

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print('default start index, default stop index, step size is two—take every second element', lst[::2])
print('default start index, default stop index, step size is three—take every third element', lst[::3])
print('reads “start index of two, default stop index, step size is two—take every second element starting from index 1',lst[1::2])

var="Indian Army"
print ("String    --> ", var)
print ("var[::1]  --> ", var[::1])
print ("var[::2]  --> ", var[::2])
print ("var[::-1] --> ", var[::-1])
print ("var[::-2] --> ", var[::-2])

var=var[::-1] #In this from the reverse letters and strong characters start getting printed.
print ("var after reverse --> ", var)

default start index, default stop index, step size is two—take every second element [1, 3, 5, 7, 9]
default start index, default stop index, step size is three—take every third element [1, 4, 7]
reads “start index of two, default stop index, step size is two—take every second element starting from index 1 [2, 4, 6, 8]
String    -->  Indian Army
var[::1]  -->  Indian Army
var[::2]  -->  Ida ry
var[::-1] -->  ymrA naidnI
var[::-2] -->  yr adI
var after reverse -->  ymrA naidnI

In [13]:
#random number printed between zero and 1. random
import random as r
print(r.random())
print (r.random())
print (round(r.random(),4))#round up to the first 4 decimal places

0.20713344256368138
0.9704219372511785
0.0984

In [14]:
#generating a random integer, in a given range. randint
import random as r
print(r.randint(1,100))
print(r.randint(-10,10))
print(r.randint(-25,-17))

82
-8
-25

In [15]:
#importing a real number
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (round(r.uniform (-10, 10),2))

55.53922865874505
87.96319291641487
4.517644393397816
3.6434337121095837
-1.34

In [16]:
import random as r

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (r.sample(A, 4))
print (r.sample(A, 2)) #2 numbers at random from A are chosen
print (r.sample(range(0,100), 2))
print (r.sample(range(-100,100), 5))
lst = list(range(10,23))
print(lst)

[9, 7, 1, 8]
[9, 7]
[52, 12]
[-11, -97, 64, 73, 70]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [17]:
import string as s
import random as r

print(s.ascii_letters)
password = r.sample(s.ascii_letters,6) # A random sample of 6 letters is chosen from the ascii letters and stored in password as a list.
print(password)
password1 = "".join(password) #Convert the list stored into a string without anyspaces by joining the random sample.
print(password1)
print(password1)
password2 = "+".join(password) #Convert the list stored into a string with + by joining the random sample.
print(password2)
print(password2)
password3 = "*".join(password)
print(password3)
print(password3)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
['l', 'i', 'o', 'x', 'b', 'a']
lioxba
lioxba
l+i+o+x+b+a
l+i+o+x+b+a
l*i*o*x*b*a
l*i*o*x*b*a

In [18]:
import string as s
import random as r
print(s.digits) #between 0 to nine, a random sample is chosen
otp1 = r.sample(s.digits,5)
print(otp1) 
otp1 = "".join(otp1)
print(otp1)
otp2 = r.sample(s.digits,5)
print(otp2)
otp2 = "".join(otp2)
print(otp2)
otp3 = r.sample(s.digits,5)
print(otp3)
otp3 = "".join(otp3)
print(otp3)

0123456789
['6', '1', '5', '8', '2']
61582
['8', '9', '3', '4', '7']
89347
['7', '9', '6', '1', '2']
79612

In [19]:
import random as r
import string as s

print(s.digits)
print(s.ascii_letters)

print(s.digits+s.ascii_letters) 

mixPassword1 = r.sample(s.ascii_letters+s.digits,5) #The random sample is created using digits and ascii letters imported from the python module.
print(mixPassword1)
mixPassword1 = "".join(mixPassword1)
print(mixPassword1)

mixPassword2 = r.sample(s.ascii_letters+s.digits,6)
print(mixPassword2)
mixPassword2 = "".join(mixPassword2)
print(mixPassword2)

splChar = "!@#$%^&*_-+=~[]{}|" #Writing a random sample of special characters.

print(splChar)

mixPassword3 = r.sample(s.digits+splChar+s.ascii_letters,8)
print(mixPassword3)
mixPassword3 = "".join(mixPassword3)
print(mixPassword3)

0123456789
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
['P', '4', 'T', 'k', 'r']
P4Tkr
['G', 'S', 'Q', 'H', 'M', 'E']
GSQHME
!@#$%^&*_-+=~[]{}|
['r', 'W', 'i', 'D', '|', 'y', '0', '^']
rWiD|y0^

In [20]:
string1 = 'malyalam'
print(string1[::-1])

malaylam

In [21]:
i = 0
list1 = ['Abhinav',7865,'@#$']

while i<len(list1):
    print(list1[i])
    i+=1

Abhinav
7865
@#$

In [22]:
list1 = ['Abhinav',67,'@#']
print(len(list1)) #Tells us the number of items in the list.

3

In [23]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
for i in range(0, len(L)):
	print (L[i])
#the below code also works. So use it.
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List --> ", L)
for s in L:
	print (s)

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3
Original List -->  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

In [24]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List       --> ", L)

L.append("Rahul")
print ("List After Adding   --> ", L)

del L[1]
print ("List After Deleting --> ", L)   #sharma will be removed

Original List       -->  ['Pratham', 'Sharma', 3.14, 3]
List After Adding   -->  ['Pratham', 'Sharma', 3.14, 3, 'Rahul']
List After Deleting -->  ['Pratham', 3.14, 3, 'Rahul']

In [25]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)
print('The sum is ', sum(L))
print('The average is ', sum(L)/len(L))
print ("Average --> ", sum(L)//len(L))

print ("L * 3   --> ", L * 3)     # Every element gets added to the list 3 times. This does not mean that every element gets multiplied by 3
print ("L + L   --> ", L + L)     # Every element get dets added to the list again.

Original List -->  [3, 6, 9, 12, 5, 3, 2]
The sum is  40
The average is  5.714285714285714
Average -->  5
L * 3   -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]
L + L   -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]

In [26]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("max --> ", max(L))
print ("min --> ", min(L))

print ("\nBefore Sort            --> ", L)
L.sort()

print ("After Sort (Asending)  --> ", L)

L.sort(reverse=True) #Always do this to make the reverse happen when it is required for it to happen.
print ("After Sort (Desending) --> ", L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
max -->  12
min -->  2

Before Sort            -->  [3, 6, 9, 12, 5, 3, 2]
After Sort (Asending)  -->  [2, 3, 3, 5, 6, 9, 12]
After Sort (Desending) -->  [12, 9, 6, 5, 3, 3, 2]

In [27]:
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]
L3 = L1 + L2
print ("L1 --> ",L1)
print ("L2 --> ",L2)
print ("L3 --> ",L3) #elements are appended at the end of the list [3, 6, 9, 12, 5, 3, 2]

print ("\nL3[2:]  --> ",L3[2:])
print ("L3[2:5] --> ",L3[2:5])
print ("L3[:-1] --> ",L3[:-1]) #This doesn't mean that elements start apearing from the end, but it signifies the end point.
print ("L3[::2] --> ",L3[::2])

L1 -->  [3, 6, 9]
L2 -->  [12, 5, 3, 2]
L3 -->  [3, 6, 9, 12, 5, 3, 2]

L3[2:]  -->  [9, 12, 5, 3, 2]
L3[2:5] -->  [9, 12, 5]
L3[:-1] -->  [3, 6, 9, 12, 5, 3]
L3[::2] -->  [3, 9, 5, 2]

In [28]:
#Multiplying every element in the list
L = [12, 5, 3, 2, 7]
print ("Original List --> ", L)

newL = [ i * 5 for i in L ]
print ("After Multiply with constant --> ", newL)

Original List -->  [12, 5, 3, 2, 7]
After Multiply with constant -->  [60, 25, 15, 10, 35]

In [29]:
#just simply use conditional statements and == with booleans. 
#Main keywords to be used here are, [ if, in , ==, True ,False]. These will help you sove things.
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", 6 in L) #booleans are evaluated
print ("Original List --> ", 10 in L) #booleans are evaluated
print ("Original List --> ", 12 in L) #Booleans are evaluated

if (6 in L) == True:
	print ("Present")
else:
	print ("Not Present")

if 10 in L == False:
	print ("Not Present")
else:
	print ("Present")

Original List -->  True
Original List -->  False
Original List -->  True
Present
Present

In [30]:
#DICTIONARY
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3} #The keys given here are 1,2,4,7,8
print ("Dictionary      --> ", CGPA)
print ("Num of elements --> ", len(CGPA))

print ("CGPA of 1       --> ", CGPA[1])
print ("CGPA of 4       --> ", CGPA[4])
print ("CGPA of 7       --> ", CGPA[7])
print ("CGPA of 3       --> ", CGPA[3])

Dictionary      -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Num of elements -->  5
CGPA of 1       -->  8.9
CGPA of 4       -->  6.7
CGPA of 7       -->  9.1

KeyError: 3

In [ ]:
#Traversing a dictionary
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
for i in CGPA:
    print(CGPA[i])
print(CGPA)
print(list(CGPA.keys()))
print(list(CGPA.values()))

In [ ]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary --> ", CGPA)
print ("Keys       --> ", list(CGPA.keys()))
print ("Values     --> ", list(CGPA.values()))

In [ ]:
CGPA={1:8.9,2:5.6,4:6.7,7:9.1,8:5.3}
print(CGPA)
CGPA[4]=9.2
print(CGPA)
CGPA[3,5]=34.9,90.1 #a tuple is added as a key So if we want to add a new term, we have to have to single append a key and its value
print(CGPA)
del CGPA[1]
print(CGPA)
CGPA.clear() #Clears the CGPA in its entirety
print(CGPA)
del CGPA

In [ ]:
#CHECKING FOR A KEY IN A DICTIONARY
#Just like how we did while checking an element in a list [Just do this "key_name in dictionary_name" in the print statement]
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Original Dictionary --> ", CGPA)
print ("Is Key 2 Present    --> ", 2 in CGPA)
print ("Is Key 9 Present    --> ", 9 in CGPA)

In [ ]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)
print ("Home Town of Prashant is --> ", HomeTown["Prashant"])
print ("Home Town of Govind is   --> ", HomeTown["Govind"])
print ("Home Town of Anil is     --> ", HomeTown["Anil"])
print ("Home Town of Pankaj is   --> ", HomeTown["Pankaj"])

In [ ]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)

for d in HomeTown:
	print ("Home Town of ", d, " is  --> ", HomeTown[d])

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print(T)
type(T)
len(T) #number of items in the tuple

In [ ]:
#Converting a list to a tuple

list1 = ["Pratham", 'Sharma', 3.14, 3]
print(list1)
tuple(list1)

#Value will only be converted into a tuple and a the entire list wont be converted to a tuple and stored in list1

In [31]:
T = ("Pratham", 'Sharma', 3.14, 3)
print(T)

for i in T:
    print(i)
#just like a list whwere we had to do like this
    # L = ["Pratham",  'Sharma', 3.14,  3 ]
    # print ("Original List --> ", L)
    # for s in L:
    # print (s)

('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

In [32]:
T = (3,4,5,6,7,8)
T*5 #values are repeated 5 times
T+T #values are repeated 2 times

(3, 4, 5, 6, 7, 8, 3, 4, 5, 6, 7, 8)

In [33]:
T = (3,4,5,6,7,8)

newT = [i*5 for i in T]

newT

[15, 20, 25, 30, 35, 40]

In [34]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T     -->", T)

print ("T[1]  -->", T[1])
print ("T[2]  -->", T[2])
print ("T[-1] -->", T[-1])
print ("T[-2] -->", T[-2])

T     --> (3, 6, 9, 12, 5, 3, 2)
T[1]  --> 6
T[2]  --> 9
T[-1] --> 2
T[-2] --> 3

In [35]:
# Example 2:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T        -->", T)

print ("T[1:3]   -->", T[1:3])
print ("T[2:]    -->", T[2:])
print ("T[2:5]   -->", T[2:5])
print ("T[:2]    -->", T[:2])
print ("T[:-1]   -->", T[:-1])
print ("T[-4:-1] -->", T[-4:-1])

T        --> (3, 6, 9, 12, 5, 3, 2)
T[1:3]   --> (6, 9)
T[2:]    --> (9, 12, 5, 3, 2)
T[2:5]   --> (9, 12, 5)
T[:2]    --> (3, 6)
T[:-1]   --> (3, 6, 9, 12, 5, 3)
T[-4:-1] --> (12, 5, 3)

In [36]:
T = (3, 6, 9, 12, 5, 3, 2)
print(sum(T))
print(max(T))
print(sum(T)/len(T))
print(sum(T)//len(T))
print(min(T))

40
12
5.714285714285714
5
2

In [37]:
#String Tuple
T = ("Ram", "Shyam", "Human", "Ant")      # String Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

T   --> ('Ram', 'Shyam', 'Human', 'Ant')
Max --> Shyam
Min --> Ant

In [38]:
#tWO TUPLES ARE COMPLETELY MERGED. 
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)
T1+T2

(3, 6, 9, 12, 5, 3, 2)

In [39]:
#Merging of a part of a tuple
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)



print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1[1:2] + T2[1:3]
print ("T3 -->", T3)

T4 = T1[:-2] + T2[:-3]
print ("T4 -->", T4)

T1 --> (3, 6, 9)
T2 --> (12, 5, 3, 2)
T3 --> (6, 5, 3)
T4 --> (3, 12)

In [40]:
T = (3, 6, 9, 12, 5, 3, 2) #sEARCHING IN A TUPLE. JUST LIKE IN A DICTIONARY AND LIST
print ("T       -->", T)

print ("6  in T -->", 6 in T)
print ("10 in T -->", 10 in T)
print ("12 in T -->", 12 in T)

T       --> (3, 6, 9, 12, 5, 3, 2)
6  in T --> True
10 in T --> False
12 in T --> True

In [41]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

T[2] = 900               # Error; 'tuple' object does not support item assignment
print ("T -->", T)

#Tuples are unchangeable. We cannot add items to it.

T --> ('Pratham', 'Sharma', 3.14, 3)

TypeError: 'tuple' object does not support item assignment

In [42]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T         -->", T)

T1 = list(T) #Convert the tuple to a list and store it in a new variable
T1.append(9.8) #Add a new item to the list
T = tuple(T1)

print ("After Add -->", T)

T         --> ('Pratham', 'Sharma', 3.14, 3)
After Add --> ('Pratham', 'Sharma', 3.14, 3, 9.8)

In [43]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

del T[1]

print ("After Delete -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)

TypeError: 'tuple' object doesn't support item deletion

In [44]:
#Hence item cannot be deleted from a tuple

In [45]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
del T1[1]
T = tuple(T1)

print ("After Delete -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)
After Delete --> ('Pratham', 3.14, 3)

Hence to make any changes to a tuple, convert it into a list, make the changes and convert it back to a tuple and store it in the same variable

In [46]:
s = set(['A','B','C','D','E','F'])
print ("Original set           --> ", s)
print ("Num of elements in set --> ", len(s))

Original set           -->  {'B', 'D', 'F', 'A', 'E', 'C'}
Num of elements in set -->  6

In [48]:
a = set(['A', 'B', 'E', 'F' ])
b = set(["A", "C", "D", "E"])
print ("Original set a      --> ", a)
print ("Original set b      --> ", b)
print ("Union of a and b    --> ", a.union(b))
print ("Intersection of a,b --> ", a.intersection(b))
print ("Difference a - b    --> ", a-b)
print ("Difference a - b    --> ", a.difference(b))
print ("Difference b - a    --> ", b-a)
print ("Difference b - a    --> ", b.difference(a))
print ("Symetric Diff a - b --> ", a.symmetric_difference(b)) 
#This gives the elements which will be removed on subtracting the sets from each other
print ("Symetric Diff b - a --> ", b.symmetric_difference(a))

Original set a      -->  {'E', 'F', 'B', 'A'}
Original set b      -->  {'D', 'E', 'C', 'A'}
Union of a and b    -->  {'B', 'D', 'F', 'A', 'E', 'C'}
Intersection of a,b -->  {'E', 'A'}
Difference a - b    -->  {'B', 'F'}
Difference a - b    -->  {'B', 'F'}
Difference b - a    -->  {'C', 'D'}
Difference b - a    -->  {'C', 'D'}
Symetric Diff a - b -->  {'B', 'D', 'F', 'C'}
Symetric Diff b - a -->  {'B', 'D', 'F', 'C'}

In [50]:
a = set(['A', 'B', 'E', 'F' ])
print ("Original set a       --> ", a)
a.add('D')
print ("Set After Adding (D) --> ", a)
a.add('D')
print ("Set After Adding (D) --> ", a)
a.remove('D')
print ("Set After Deleting(D)--> ", a)
a.pop()
print ("Set After pop        --> ", a)
#pop removes a random element and returns the set without that element

Original set a       -->  {'E', 'F', 'B', 'A'}
Set After Adding (D) -->  {'B', 'D', 'F', 'A', 'E'}
Set After Adding (D) -->  {'B', 'D', 'F', 'A', 'E'}
Set After Deleting(D)-->  {'B', 'F', 'A', 'E'}
Set After pop        -->  {'F', 'A', 'E'}

### ADDITIONAL METHODS AND TECHNIQUES FOR LISTS

In [51]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [52]:
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [53]:
'hard rock'.split()

['hard', 'rock']

In [54]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

### ADDITIONAL METHODS AND TECHNIQUES FOR DICTIONARIES

In [55]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [56]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [57]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [60]:

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [61]:
set(album_set1).issuperset(album_set2)

False

In [62]:
set(album_set2).issubset(album_set1)

False

In [63]:
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [64]:
album_set1.issuperset({"Back in Black", "AC/DC"})

True

## EXCEPTION HANDLING

In [65]:
for i in range(-5,6):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [66]:
L=[1,2,3,4,5]

for i in range(8):
	try:
		print (i," --> ",L[i])
	except:
		print ("error")

0  -->  1
1  -->  2
2  -->  3
3  -->  4
4  -->  5
error
error
error

In [3]:
# fileName = input('Enter file name ')
# fp = open(fileName)
# fp.close()
# print('Done')

#this one gives an error

In [4]:
fileName=input("Enter File Name: ")
try:
	fp=open(fileName)	# Open the file in reading mode
	fp.close()
except:
	print ("Error !! \"%s\" File Not Found"%(fileName))

print ("Done")

Enter File Name: samplefile.csv
Error !! "samplefile.csv" File Not Found
Done

## FILE HANDLING

In [5]:
fp=open('result.txt','w')	# Open the file in writing mode
for  i in range(1,11):
	fp.write(str(i) + "\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

In [6]:
fp=open('result.txt')		# Open the file in reading mode
for line in fp: 		    # print line by line
	print (line.strip())
fp.close()

1
2
3
4
5
6
7
8
9
10

In [7]:
Readfp=open('result.txt')		# Open the file in reading mode
Writefp=open('abc.txt','w')	# Open the file in writing mode
for line in Readfp: 
	Writefp.write(line.upper())
	
Writefp.close()
Readfp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content